<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.longlian.mq.dao.CourseManagerMapper">
    <resultMap id="baseMap" type="CourseManager">
        <id column="ID" property="id"/>
        <result column="TEACHER_ID" property="teacherId"/>
        <result column="USER_ID" property="userId"/>
        <result column="ROOM_ID" property="roomId"/>
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <sql id="sql">
        ID , TEACHER_ID , USER_ID , ROOM_ID , CREATE_TIME
    </sql>

    <select id="findAllManagerByTeacherId" resultType="Map">
        SELECT au.NAME as appUserName , au.ID AS userId , cm.ID AS id , au.PHOTO AS photo
        FROM course_manager cm LEFT JOIN app_user au ON au.ID = cm.USER_ID
        WHERE cm.TEACHER_ID = #{teacherId}
    </select>


</mapper>
