<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longlian.mq.dao.CourseWareMapper">

  <resultMap id="BaseResultMap" type="com.longlian.model.CourseWare">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="COURSE_ID" jdbcType="BIGINT" property="courseId" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, COURSE_ID, ADDRESS, STATUS, CREATE_TIME
  </sql>

  <insert id="insert" parameterType="com.longlian.model.CourseWare">

    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_ware (COURSE_ID, ADDRESS, STATUS, CREATE_TIME)
    values (#{courseId}, #{address}, #{status}, now())
  </insert>

  <update id="update" parameterType="com.longlian.model.CourseWare">
    update course_ware
    set COURSE_ID = #{courseId},
      ADDRESS = #{address},
      STATUS = #{status},
      CREATE_TIME = #{createTime}
    where ID = #{id}
  </update>

  <insert id="insertList">
    insert into course_ware(COURSE_ID, ADDRESS, STATUS, CREATE_TIME) values
    <foreach collection="list" item="item" separator=",">
      (#{courseId}, #{item},0,now())
    </foreach>
  </insert>
  <select id="getCourseWare" resultMap="BaseResultMap">
    SELECT *
    FROM course_ware c
    WHERE c.COURSE_ID = #{id} AND STATUS = '0'

  </select>

  <delete id="delete" parameterType="long" >
    DELETE FROM course_ware WHERE  ID = #{id}
  </delete>


  <select id="getCourseWarebyId" resultType="Map">
    SELECT ADDRESS address
    FROM course_ware c
    WHERE c.COURSE_ID = #{id} AND c.STATUS = '0'

  </select>

  <delete id="deleteByCourseId" parameterType="long" >
    DELETE FROM course_ware WHERE  COURSE_ID = #{id}
  </delete>

</mapper>