#以下是不需要git进行版本控制的文件
.idea
classes
.gitignore.swp
*.iml
.gradle
gradle
bin
huaxin-util/build
huaxin-util/out
huaxin-util/.classpath
huaxin-util/.project
huaxin-util/.settings
huaxin-util/bin
huaxin-util/bin
longlian-live/.settings
longlian-live/.project
longlian-live/.classpath
longlian-mq/build
longlian-mq/bin
longlian-mq/module_*.xml
longlian-mq/.settings
longlian-mq/.project
longlian-mq/.classpath
longlian-model/build
longlian-model/bin
longlian-model/module_*.xml
longlian-model/.settings
longlian-model/.project
longlian-model/.classpath
longlian-console/build
longlian-console/bin
longlian-console/module_*.xml
longlian-console/.settings
longlian-console/.project
longlian-console/.classpath
longlian-res/build
longlian-res/bin
longlian-res/module_*.xml
longlian-res/.settings
longlian-res/.project
longlian-res/.classpath
longlian-res/build
longlian-res/bin
longlian-res-model/.settings
longlian-res-model/module_*.xml
longlian-res-model/.project
longlian-res-model/.classpath
longlian-res-model/build
longlian-res-model/bin
longlian-api/.settings
longlian-api/module_*.xml
longlian-api/.project
longlian-api/.classpath
longlian-api/build
longlian-api/bin
llkeji-test/.settings
llkeji-test/.project
llkeji-test/module_*.xml
llkeji-test/.classpath
llkeji-test/build
llkeji-test/bin
llkeji-test-servive/.settings
llkeji-test-servive/module_*.xml
llkeji-test-servive/.project
llkeji-test-servive/.classpath
llkeji-test-servive/build
llkeji-test-servive/bin
longlian-common/.settings
longlian-common/.project
longlian-common/module_*.xml
longlian-common/.classpath
longlian-common/build
longlian-common/bin
longlian-third/.settings
longlian-third/module_*.xml
longlian-third/.project
longlian-third/.classpath
longlian-third/build
longlian-third/bin
mybatis-generator/.settings
mybatis-generator/module_*.xml
mybatis-generator/.project
mybatis-generator/.classpath
mybatis-generator/build
mybatis-generator/bin
longlian-weixintest/.settings
longlian-weixintest/module_*.xml
longlian-weixintest/.project
longlian-weixintest/.classpath
longlian-weixintest/build
longlian-weixintest/bin
longlian-chatmsg/.settings
longlian-chatmsg/module_*.xml
longlian-chatmsg/.project
longlian-chatmsg/.classpath
longlian-chatmsg/build
longlian-chatmsg/bin
longlian-appmsg/build
longlian-eureka/build
.classpath
.project
out
gradlew
gradlew.bat
/build/
.sonar
.settings
log.log
logFile*
huaxin-common/module_huaxin-common.xml
huaxin-common/module_huaxin-common_Tue_Sep_12_10-50-49_CST_2017.xml
ll369-model/module_ll369-model.xml
ll369-model/module_ll369-model_Tue_Sep_12_10-50-49_CST_2017.xml
module_newlongliansite.xml
module_newlongliansite_Tue_Sep_12_10-50-49_CST_2017.xml
newlongliansite.properties
newlongliansite.xml
newlongliansite_Tue_Sep_12_10-50-49_CST_2017.properties
newlongliansite_Tue_Sep_12_10-50-49_CST_2017.xml
