<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/rabbit
      http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

      <!--配置connection-factory，指定连接rabbit server参数-->
      <rabbit:connection-factory id="connectionFactory" username="${mq.username}" password="${mq.password}"
                                 host="${mq.host}"
                                 port="${mq.port}"
                                 virtual-host="/"/>

      <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成-->
      <rabbit:admin connection-factory="connectionFactory"/>

      <!--定义queue-->
      <rabbit:queue id="com.mj.test" name="com.mj.test" durable="true" auto-delete="false" exclusive="false"/>

      <!-- 定义direct exchange，绑定com.mj.test queue -->
      <rabbit:direct-exchange name="myChange" durable="true" auto-delete="false">
            <rabbit:bindings>
                  <rabbit:binding queue="com.mj.test" key="hello"></rabbit:binding>
            </rabbit:bindings>
      </rabbit:direct-exchange>

      <!--定义rabbit template用于数据的接收和发送-->
      <rabbit:template id="myAmqpTemplate" connection-factory="connectionFactory" exchange="myChange"/>
</beans>
