<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.longlian.live.dao.AdvertisingDisplayMapper">
    <resultMap id="advertisingMap" type="AdvertisingDisplay">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="ADVERT_TYPE" jdbcType="VARCHAR" property="advertType"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="SORT_ORDER" jdbcType="INTEGER" property="sortOrder"/>
        <result column="OPEN_URL" jdbcType="VARCHAR" property="openUrl"/>
        <result column="PIC_ADDRESS" jdbcType="VARCHAR" property="picAddress"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="REMARKS" jdbcType="VARCHAR" property="remarks"/>
        <result column="SYSTEM_TYPE" jdbcType="VARCHAR" property="systemType"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="COURSE_ID" property="courseId"/>
        <result column="COURSE_INFO" property="courseInfo"/>
        <result column="IS_SERIES_COURSE" property="isSeriesCourse"/>
    </resultMap>

    <sql id="advertisingSql">
    ID, NAME, ADVERT_TYPE, STATUS, SORT_ORDER, OPEN_URL, PIC_ADDRESS, CREATE_TIME, REMARKS,SYSTEM_TYPE,TYPE,COURSE_ID,COURSE_INFO,IS_SERIES_COURSE
  </sql>


    <select id="getList" parameterType="string" resultMap="advertisingMap">
        select
        <include refid="advertisingSql"/>
        from advertising_display
        where STATUS = '0' AND TYPE = #{type} ORDER BY SORT_ORDER
    </select>

</mapper>
