<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.longlian.live.dao.IosPayTypeMapper">
    <resultMap id="iosMap" type="com.longlian.model.IosPayType">
        <id column="ID" property="id"/>
        <result column="AMOUNT"  property="amount"/>
        <result column="LL_REALLY_AMOUNT"  property="llReallyAmount"/>
        <result column="USER_REALLY_AMOUNT"  property="userReallyAmount"/>
        <result column="IOS_COMMODITY_ID"  property="iosCommodityId"/>
        <result column="IOS_COMMODITY_NAME"  property="iosCommodityName"/>
        <result column="CREATE_TIME"  property="createTime"/>
        <result column="REMARK"  property="remark"/>
        <result column="STATUS"  property="status"/>
        <result column="TYPE"  property="type"/>
    </resultMap>

    <sql id="iosPaytypeSql">
        ID,AMOUNT,LL_REALLY_AMOUNT,USER_REALLY_AMOUNT,IOS_COMMODITY_ID,IOS_COMMODITY_NAME,CREATE_TIME,REMARK,STATUS,TYPE
    </sql>

    <select id="findAllIosPayInfo" resultMap="iosMap">
        SELECT <include refid="iosPaytypeSql"/> FROM ios_pay_type WHERE TYPE = #{type}   
    </select>

    <select id="findPayTypeInfoById" resultMap="iosMap">
        SELECT <include refid="iosPaytypeSql"/> FROM ios_pay_type WHERE ID = #{id}
    </select>

    <select id="findIosPayInfo" resultMap="iosMap">
        SELECT <include refid="iosPaytypeSql"/> FROM ios_pay_type WHERE IOS_COMMODITY_ID = #{iosCommodityId}
    </select>
</mapper>
