<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longlian.live.dao.MobileVersionMapper">

    <resultMap id="mobileVersionResultMap" type="com.longlian.dto.MobileVersionDto">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="VERSION_TYPE" jdbcType="VARCHAR" property="versionType"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="VERSION_NUM" jdbcType="VARCHAR" property="versionNum"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="DOWNLOAD_ADDRESS" jdbcType="VARCHAR" property="downloadAddress"/>
        <result column="ONLINE_TIME" jdbcType="TIMESTAMP" property="onlineTime"/>
        <result column="OFFLINE_TIME" jdbcType="TIMESTAMP" property="offlineTime"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="IS_FOCE_UPDATE" jdbcType="VARCHAR" property="isFoceUpdate"/>
        <result column="VERSION_BRIEF" jdbcType="VARCHAR" property="versionBrief"/>
    </resultMap>
    
    <resultMap id="MobileVersionMap" type="com.longlian.model.MobileVersion">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="VERSION_TYPE" jdbcType="VARCHAR" property="versionType"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="VERSION_NUM" jdbcType="VARCHAR" property="versionNum"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="DOWNLOAD_ADDRESS" jdbcType="VARCHAR" property="downloadAddress"/>
        <result column="ONLINE_TIME" jdbcType="TIMESTAMP" property="onlineTime"/>
        <result column="OFFLINE_TIME" jdbcType="TIMESTAMP" property="offlineTime"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="IS_FOCE_UPDATE" jdbcType="VARCHAR" property="isFoceUpdate"/>
        <result column="VERSION_BRIEF" jdbcType="VARCHAR" property="versionBrief"/>
    </resultMap>
    <sql id="mobileVersionColumnList">
     VERSION_TYPE, NAME, VERSION_NUM, STATUS, DOWNLOAD_ADDRESS, ONLINE_TIME, OFFLINE_TIME,USER_NAME,IS_FOCE_UPDATE,VERSION_BRIEF
  </sql>

    <select id="selectMaxVersion" parameterType="java.lang.String" resultMap="MobileVersionMap">
    select 
     <include refid="mobileVersionColumnList" />
    from mobile_version_records
    where VERSION_TYPE = #{versionType} and IS_FOCE_UPDATE = '1' and VERSION_NUM &lt;= (select VERSION_NUM from mobile_version_records where VERSION_TYPE = #{versionType} and STATUS ='1' ) order by VERSION_NUM desc limit 1
  </select>

    <select id="selectMaxVersionList" parameterType="java.lang.String" resultMap="MobileVersionMap">
        select
        <include refid="mobileVersionColumnList" />
        from mobile_version_records
        where VERSION_TYPE = #{versionType} and IS_FOCE_UPDATE = '1'
    </select>



    <select id="getSuperVersion" resultMap="MobileVersionMap">
	 select  <include refid="mobileVersionColumnList" /> from mobile_version_records where VERSION_TYPE = #{versionType} and STATUS ='1'
   </select>
  
</mapper>