<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://code.alibabatech.com/schema/dubbo          
    	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
      <!-- 提供方应用信息，用于计算依赖关系 --> 
	<dubbo:application name="longlian-res"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="redis" address="192.168.1.249:6379"  />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo"  host="localhost"  port="20883" />

    <!-- 声明需要暴露的服务接口 -->
   <dubbo:service interface="com.longlian.res.service.ResService"
   actives="100" timeout="20000" retries="0" ref="resService" />

   <dubbo:service interface="com.longlian.res.service.ThirdUserService"
   actives="100" timeout="20000" retries="0" ref="userService" />
</beans>
