html,body{ height:100%; background:#efefef;}

.invitationCode{ width:17.75rem; min-height:21rem; margin: 0 auto; overflow: hidden; border-radius: 10px;  padding-bottom: 1.5rem; background:#ffffff; border: 1px #d6d6d6 solid; box-shadow:0 0 3px #d7d7d7;  margin-top:1rem;}

.CodeSuccess .titImg{ width:13rem; height:1.8rem; margin:0 auto; margin-top:1.5rem;}
.CodeSuccess h3{ color:#333333; font-size:.8rem; line-height:1rem; padding: .25rem 1.8rem; text-align:center;font-weight: normal;}
.CodeSuccess p{ font-size:.65rem; line-height:1rem; color:#b3b3b3; text-align:center; padding: .25rem 1.5rem;}
.CodeSuccess .codeBtn{ width:9.2rem; line-height:2rem; background: #0bb908; border: none; border-radius: 10px; color:#FFF; font-size:.8rem; margin-top:1.5rem; margin-left:4.275rem; }
.CodeSuccess .codeBtn.not{ background: #d8d8d8; }
.CodeSuccess h6{ padding-left:1.2rem; line-height:1.1rem; font-weight: normal; color:#b3b3b3; font-size:.65rem; margin-top:2rem;-webkit-margin-after: 0em;}
.CodeSuccess ul{ padding-left:1.2rem; margin-top:.5rem; overflow: hidden; padding-right:1.1rem; }
.CodeSuccess ul li{ line-height:1rem; color:#b3b3b3; font-size:.65rem;}


.CodeEnd .titImg{ width:11.2rem; height:1.7rem; margin:0 auto; margin-top:1.8rem;}
.CodeEnd dl{ text-align:center; margin-top:2rem;}
.CodeEnd dl dt{ width:8.05rem; height:7.8rem; margin:0 auto;}
.CodeEnd dl dd{ text-align:center; line-height:2rem; color:#b3b3b3; text-align:center; padding-top:.5rem;}
.code_foot{ text-align:center; line-height:2rem; color:#b3b3b3; font-size:.65rem;}

.pop_wrap{
    width: 7.7rem !important;
    height: 4.7rem!important;
    overflow: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left:-3.85rem ;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 11111111;
}
.pop_con{
    display:-webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 1.4rem;
    color:rgba(255,255,255,0.9);
    padding: 1rem;
    margin: 0 auto;
}
.warning{
    background: rgba(0,0,0,0.6);
}

.warning .pop_title{
    font-size: 1.6rem;
    background:#67bef5;

}
.error{
    background: rgba(0,0,0,0.6);

}
.error .classpic{
    width: 1.4rem;
    height: 1.4rem;
    background: url(../image/pic_gantanhao.png) no-repeat center center;
    background-size:100% 100%;
    margin-bottom: 0.4rem;
    margin-right: 0;
}
.error .pop_title{
    font-size: 1.6rem;
}
.normal {
    background: rgba(0,0,0,0.6);
}
.normal .classpic{
    width: 1.4rem;
    height: 1.4rem;
    background: url(../image/pic_duihao.png) no-repeat center center;
    background-size:100% 100%;
    margin-bottom: 0.4rem;
}
.poptext{
    font-size: 0.55rem;
    color: white;
}
