.wrap{
	padding: 0 40px;
}
.titlebox{
	width: 100%;
	height: 174px;
	margin-top: 38px;
}
.titlebox li{
	float: left;
	margin-right: 38px;
}
.titlebox li:first-child{
	width: 240px;
	padding:24px 19px;
	background: #2fa5ff url(../../img/allshop.png) no-repeat;
	background-position:32px 35px;
	border-radius: 8px;
}
.textnum{
	float: right;
	text-align: center;
}
.textnum p{
	color: white;
	font-size:19px
}
.titlebox li:nth-of-type(2){
	width: 240px;
	padding:24px 19px;
	padding:23px 35px;
	background: #ffb53e url(../../img/loginnow.png) no-repeat;
	background-position:32px 35px;
	border-radius: 8px;
}
.titlebox li:nth-of-type(3){
	width: 240px;
	padding:24px 19px;
	padding:23px 35px;
	background: #f92440 url(../../img/usershop.png) no-repeat;
	background-position:32px 35px;
	border-radius: 8px;
}
.contbox img{
	display: block;
	width: 100%;
}
.fontsize{
	font-size:19px;
	font-weight:bold;
}

body {
  background-color: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../../img/bg.png');
  background-attachment: fixed;
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0s linear;
 transition-property: background-position;
}