<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longlian.console.dao.SystemLogMapper" >


    <resultMap id="SystemLogMap" type="com.longlian.model.SystemLog">
        <id column="ID" property="id"></id>
        <result column="SYSTEM_TYPE" property="systemType"></result>
        <result column="USER_ID" property="userId"></result>
        <result column="USER_NAME" property="userName"></result>
        <result column="IP_ADDRESS" property="ipAddress"></result>
        <result column="LOG_TYPE" property="logType"></result>
        <result column="OBJECT" property="object"></result>
        <result column="CONTENT" property="content"></result>
        <result column="LOG_TIME" property="logTime"></result>
        <result column="TABLE_TYPE" property="tableType"></result>
        <result column="TABLE_ID" property="tableId"></result>
    </resultMap>

    <resultMap id="SystemLogDtoMap" type="com.longlian.dto.SystemLogDto" extends="SystemLogMap">

    </resultMap>


    <sql id="SystemLogColumnSql">
        SYSTEM_TYPE,USER_ID,USER_NAME,IP_ADDRESS,LOG_TYPE,OBJECT,CONTENT,LOG_TIME,TABLE_TYPE,TABLE_ID
    </sql>

    <select id="getListPage" resultMap="SystemLogDtoMap">
        SELECT sl.SYSTEM_TYPE,sl.USER_ID,sl.USER_NAME,sl.IP_ADDRESS,sl.LOG_TYPE,sl.OBJECT,sl.CONTENT,sl.LOG_TIME,sl.TABLE_TYPE,sl.TABLE_ID
        FROM system_log AS sl
        <where>
            <if test="@Ognl@isNotEmpty(systemLogDto.userName)">
                AND sl.USER_NAME LIKE CONCAT('%',#{systemLogDto.userName},'%' )
            </if>
            <if test="@Ognl@isNotEmpty(systemLogDto.createTimeBegin)">
                AND sl.LOG_TIME &gt; #{systemLogDto.createTimeBegin}
            </if>
            <if test="@Ognl@isNotEmpty(systemLogDto.createTimeEnd)">
                AND  sl.LOG_TIME &lt; #{systemLogDto.createTimeEnd}
            </if>
            <if test="@Ognl@isNotEmpty(systemLogDto.logType)">
                AND  sl.LOG_TYPE = #{systemLogDto.logType}
            </if>
            <if test="@Ognl@isNotEmpty(systemLogDto.tableType)">
                AND  sl.TABLE_TYPE = #{systemLogDto.tableType}
            </if>
            <if test="@Ognl@isNotEmpty(systemLogDto.object)">
                AND  sl.OBJECT LIKE   CONCAT('%',#{systemLogDto.object},'%' )
            </if>
            <if test="@Ognl@isNotEmpty(systemLogDto.content)">
                AND  sl.CONTENT LIKE CONCAT('%',#{systemLogDto.content},'%' )
            </if>
        </where>
        ORDER BY sl.LOG_TIME DESC
    </select>

    <select id="getListByType" resultMap="SystemLogDtoMap">
SELECT * from system_log l where l.LOG_TYPE = #{type} order by LOG_TIME
    </select>

</mapper>
