<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longlian.live.dao.CourseCommonMapper">

    <resultMap id="BaseResultMap" type="com.longlian.model.Course">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ROOM_ID" jdbcType="BIGINT" property="roomId"/>
        <result column="APP_ID" jdbcType="BIGINT" property="appId"/>
        <result column="LIVE_TOPIC" jdbcType="VARCHAR" property="liveTopic"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="LIVE_WAY" jdbcType="VARCHAR" property="liveWay"/>
        <result column="LIVE_TYPE" jdbcType="VARCHAR" property="liveType"/>
        <result column="LIVE_PWD" jdbcType="VARCHAR" property="livePwd"/>
        <result column="DIVIDE_SCALE" jdbcType="VARCHAR" property="divideScale"/>
        <result column="COVERSS_ADDRESS" jdbcType="VARCHAR" property="coverssAddress"/>
        <result column="CHARGE_AMT" jdbcType="DECIMAL" property="chargeAmt"/>
        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="ORDER_SORT" jdbcType="INTEGER" property="orderSort"/>
        <result column="COURSE_TYPE" jdbcType="BIGINT" property="courseType"/>
        <!--- <result column="PUSH_PRAISE_COUNT" jdbcType="INTEGER" property="pushPraiseCount"/>-->
        <result column="VISIT_COUNT" jdbcType="INTEGER" property="visitCount"/>
        <!---<result column="JOIN_COUNT" jdbcType="INTEGER" property="joinCount"/>-->
       <!---<result column="STUDY_COUNT" jdbcType="INTEGER" property="studyCount"/>-->
      <!--- <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount"/>-->
        <result column="END_TIME" property="endTime"/>
        <result column="LIVE_ADDRESS" property="liveAddress"/>
        <result column="PUSH_ADDRESS" property="pushAddress"/>
        <result column="VIDEO_ADDRESS" property="videoAddress"/>
        <result column="RECO_TIME" property="recoTime"/>
        <result column="HLS_LIVE_ADDRESS" property="hlsLiveAddress"/>
        <result column="CHAT_ROOM_ID" property="chatRoomId"/>
        <result column="IS_SERIES_COURSE" property="isSeriesCourse"/>
        <result column="SERIES_COURSE_ID" property="seriesCourseId"/>
        <result column="COURSE_PLAN_COUNT" property="coursePlanCount"/>
        <result column="UPDATED_COUNT" property="updatedCount"/>
        <result column="ENDED_COUNT" property="endedCount"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="AUTO_CLOSE_TIME" property="autoCloseTime"/>

        <result column="IS_VERTICAL_SCREEN" property="isVerticalScreen"/>
        <result column="VERTICAL_COVERSS_ADDRESS" property="verticalCoverssAddress"/>
        <result column="CLEAN_SCREEN_TIME" property="cleanScreenTime"/>
        <result column="AD_ADDRESS" property="adAddress"/>
        <result column="IS_RECORDED" property="isRecorded"/>
        <result column="REC_TIME" property="recTime"/>
        <result column="TRY_SEE_TIME" property="trySeeTime"/>
        <result column="IS_INVITE_CODE" property="isInviteCode"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.longlian.dto.CourseDto" extends="BaseResultMap">

    </resultMap>

    <resultMap id="BaseResultAndUserMap" type="java.util.Map" extends="BaseResultMap">
        <result column="USER_NAME" property="userName"/>
        <result column="PHOTO" property="photo"/>
        <result column="GENDER" property="gender"/>
        <result column="FOLLOW_COUNT" property="followCount"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID, ROOM_ID, APP_ID, LIVE_TOPIC, REMARK, LIVE_WAY, LIVE_TYPE, LIVE_PWD, DIVIDE_SCALE, 
    COVERSS_ADDRESS, CHARGE_AMT, START_TIME, UPDATE_TIME, STATUS, CREATE_TIME, ORDER_SORT, 
    COURSE_TYPE

    , VISIT_COUNT

    , END_TIME ,LIVE_ADDRESS, PUSH_ADDRESS ,VIDEO_ADDRESS ,  RECO_TIME ,HLS_LIVE_ADDRESS
    , CHAT_ROOM_ID,TEACHER_DESC,INVITE_TMP
        ,IS_SERIES_COURSE,SERIES_COURSE_ID,COURSE_PLAN_COUNT,UPDATED_COUNT,ENDED_COUNT,IS_DELETE , AUTO_CLOSE_TIME
     ,IS_VERTICAL_SCREEN, VERTICAL_COVERSS_ADDRESS,CLEAN_SCREEN_TIME,AD_ADDRESS,IS_RECORDED,REC_TIME,TRY_SEE_TIME,IS_INVITE_CODE
  </sql>


    <select id="getCourse" resultMap="BaseResultMap">
    SELECT *
    FROM course c

    WHERE c.ID = #{id}

  </select>


    <update id="updateEndTime" parameterType="long">
    update course
    set
    END_TIME = now()
    where ID = #{id}
  </update>

</mapper>
